<html>
    <head>
        <title>
            BoxiIT
        </title>
        <link rel="icon" type="image/x-icon" href="/boxit/media/boxit.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="col-12 my-5">
            <div class="col-11 my-2 mx-auto p-3 pb-5 border shadow-lg">
                <div class="col mt-3 mb-5 text-center">
                    <h1 style="color: blue;">BOXIT</h1>
                </div>
                <div class="col my-2">
                    <h3><b>About Game</b></h3>
                </div>
                <div class="col my-4">
                    The game starts with an empty grid of dots. Usually two players take turns adding a single horizontal or vertical line between two unjoined adjacent dots. A player who completes the fourth side of a 1×1 box earns one point and takes another turn. A point is typically recorded by placing a mark that identifies the player in the box, such as an initial. The game ends when no more lines can be placed. The winner is the player with the most points. The board may be of any size grid. When short on time, or to learn the game, a 2×2 board (3×3 dots) is suitable. A 5×5 board, on the other hand, is good for experts.
                </div>
                <div class="col mt-5 mb-2">
                    <h3><b>How to Play</b></h3>
                </div>
                <div class="col my-4">
                    The game has two mode, Online multiplayer and local multiplayer. In local multiplayer, the players will have to play in a single machine. In online multiplayer, the players can join/create a room to play with other players who are anywhere in the world. The game starts with a 8x8 board. One who ends with the most number of filled boxes on their side wins the game.
                </div>
                <div class="col mt-5 text-center">
                    <a class="btn btn-lg btn-primary" href="{{ url_for('boxit_api.home') }}">
                        Home
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>