<html>
    <head>
        <title>
            Box It
        </title>
        <link rel="icon" type="image/x-icon" href="/boxit/media/boxit.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="col-12 my-5">
            <div class="col-11 my-2 mx-auto p-3 pb-5 border shadow-lg">
                <div class="col mt-3 mb-5 text-center">
                    <h1 style="color: blue;">BOX IT</h1>
                </div>
                <div class="col my-2">
                    <h3><b>About Game</b></h3>
                </div>
                <div class="col my-4">
                    Starting with a blank grid of dots, the game begins. Typically, two players alternately add a single horizontal or vertical line to separate two neighboring dots that aren't linked. A player gets one point and gets to go again if they finish the fourth side of a 1x1 box. Typically, a mark identifying the player, such an initial, is placed in the box to record a point. When no more lines can be drawn, the game is over. The player with the most points is declared the winner. Any size grid may be used for the board. A 2x2 board with 3x3 dots is appropriate for learning the game or when you don't have much time. For specialists, though, an 8x8 board works well.
                </div>
                <div class="col mt-5 mb-2">
                    <h3><b>How to Play</b></h3>
                </div>
                <div class="col my-4">
                    Online multiplayer and local multiplayer are the game's two game types. The participants in local multiplayer will have to use the same computer. The users can join or establish a room to play with other players who are located anywhere in the world in online multiplayer. An 8x8 board is used to start the game. The winner of the game is the team with the most filled boxes at the conclusion.
                </div>
                <div class="col mt-5 text-center">
                    <a class="btn btn-lg btn-primary" href="{{ url_for('boxit_api.home') }}">
                        Home
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>