bidict==0.21.4
certifi==2021.10.8
cffi==1.15.0
click==8.0.3
colorama==0.4.4
dnspython==2.1.0
Flask==2.0.2
Flask-SocketIO==5.1.1
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
gunicorn==20.1.0
h11==0.13.0
importlib-metadata==4.10.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pycparser==2.21
pymongo==4.0.1
python-engineio==4.3.0
python-socketio==5.5.0
typing_extensions==4.0.1
Werkzeug==2.0.2
wsproto==1.0.0
zipp==3.7.0
zope.event==4.5.0
zope.interface==5.4.0
